body {

    padding: 0;
    background-color: #ebeeef;


}

footer {
    width: 100%;
    background: #256f83;
    padding: 25px 0;
    color: rgb(255, 255, 255);
    text-align: center;
    position: fixed;

    bottom: 0px;
    z-index: 0;
}

.row {

    /* padding: 10px;
    margin: 5px; */
}

.container {
    padding: 10px;
    position: inherit;

    margin: 10px 10px 200px 10px;



}

img {
    width: 30px;
    height: 30px;
}

.image {
    width: 30px;
    height: 30px;
}

nav {
    /* margin-left: 20px; */

    top: 0;
    position: sticky;
    /* color: #ebeeef; */

    /* background-color: #ebeeef; */


    /* height: 120px; */

}



.navbar {
    border-radius: 4px;
    /* background-color: #ebeeef; */
    background-color: white;
    box-shadow: 1px 1px #c7bfbf;

    font-size: large;
    color: black;
}

.a {

    color: black;
    text-decoration: none;
    font-size: large;
    font-weight: 500;

}

.details {
    width: 70%;
    margin: 12px
}


.card,
.card-body {
    padding: 10px;
    border-radius: 0%;
    margin: 10px;

    min-width: 100px;
    width: 80%;
    /* border: #7c127c; */
    text-decoration: none;
    background-color: rgb(161, 176, 168);
    overflow: hidden;
    /* background-color: #ebeeef; */
    /* color: rgb(191, 45, 45); */
    transition: 1s;
    background-color: white;
}

.card.item {
    border-radius: 3px;
}

/* .card-body {
    border-radius: 5%;
    background-color: rgb(99, 219, 177);
    color: rgb(255, 255, 255);
    border: #7c127c;
} */

/* .card-body:hover, */
.card:hover {
    margin: 10px;
    border-radius: 3%;
    transform: 4px -5px;
    /* background-color: rgb(74, 43, 165); */
    box-shadow: 5px 5px #888888;
    color: black;
}

/* 
.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.4s;

}

.sub-menu-link:hover span {
    transform: translateX(5px);
} */

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 20px;
    border-radius: 50%;
}

footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding-top: 10px;
    text-decoration-color: white;
    margin-right: 20px;
}


#mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    bottom: 10px;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    right: 10px;
}

#mydivheader {
    padding: 10px;

    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
    border-radius: 10px 10px 0 0;
}



.btn.btn-primary {
    /* width: 100%; */
    color: #000;
    background-color: white;
    border-color: rgb(210, 198, 198);
}

.contact {
    height: 100px;
}



/* table */
table {

    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


span {
    height: 40px;
    width: 40px;
    padding: 2px;
    border: 1px grey;
}

a {
    text-decoration: none;
    height: 40px;
    border: 1px grey;
}