body {
    margin: 20;
    padding: 0;
}

footer {
    width: 100%;
    background: #ebeeef;
    padding: 25px 0;
    text-align: center;
    position: fixed;
    bottom: 0px;
    z-index: 0;
}

.row {
    padding: 10px;
    margin: 5px;
}

.container {
    margin: 0;
    padding: 0;
}

img {
    width: 30px;
    height: 30px;
}

.image {
    width: 30px;
    height: 30px;
}

nav {
    /* margin-left: 20px; */

    top: 0;
    color: #ebeeef;
    width: 100%;
    background-color: #ebeeef;
    ;

    /* height: 120px; */
}

.navbar {
    background-color: #ebeeef;
    height: 100px;
    font-size: large;
    color: black;
}

.a {

    color: black;
    text-decoration: none;
    font-size: large;
    font-weight: 500;

}

.details {
    width: 70%;
    margin: 12px
}


.card,
.card-body {
    border-radius: 5%;
    border: #7c127c;
    background-color: rgb(11, 236, 161);
    color: rgb(255, 255, 255);
    transition: 1s;
}

/* .card-body {
    border-radius: 5%;
    background-color: rgb(99, 219, 177);
    color: rgb(255, 255, 255);
    border: #7c127c;
} */

.card-body:hover,
.card:hover {
    border-radius: 10%;
    transform: 4px -5px;
    background-color: aqua;
    box-shadow: 5px 5px #888888;
    color: black;
}

/* 
.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.4s;

}

.sub-menu-link:hover span {
    transform: translateX(5px);
} */

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 20px;
    border-radius: 50%;
}

footer a {
    color: rgb(141, 136, 136);
    text-decoration: none;
    margin-right: 20px;
}