body {}

.container {
    margin: -2;
    padding: 0;
}

img {
    width: 30px;
    height: 30px;
}

.image {
    width: 30px;
    height: 30px;
}

.nav {
    width: 100%;
    margin: 20px;
}

.details {
    width: 70%;
    margin: 12px
}

.card {
    border-radius: 1000px;

}

.card-body {

    color: red;
}

.card:hover {
    transform: translateY(-5px);
}

/* 
.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.4s;

}

.sub-menu-link:hover span {
    transform: translateX(5px);
} */

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 20px;
    border-radius: 50%;
}