body {
    background-color: rgb(204, 106, 9);
    color: red;
    border: 2 red;
}

.nav {
    margin: 20px;
}

img {
    width: 30px;
    height: 30px;
}

.image {
    width: 30px;
    height: 30px;
}

.details {
    width: 70%;
    margin: 12px
}

.card {
    border-radius: 1000px;

}

.card-body {
    color: red;
}

.card:hover {
    transform: translateY(-5px);
}

/* 
.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.4s;

}

.sub-menu-link:hover span {
    transform: translateX(5px);
} */

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 20px;
    border-radius: 50%;
}