{% extends "shared/base.html" %}

{% block homeActive%}
active
{% endblock %}
{% block content %}
<div class="container">

    <h3>All Applications</h3>


    <table>

        <tr>
            <th>SNo.</th>
            <th>Contact</th>
            <th>Email</th>
            <th>User</th>
            <th>Actions</th>
        </tr>


        {% for application in applications%}
        <tr>
            <th>
                {{application.id}}
            </th>
            <th>
                {{application.phone}}

            </th>
            <th>
                {{application.email}}
            </th>
            <th>
                {{application.applicant.username}}
            </th>
            <th>
                <!-- <button class="btn btn-primary">Approve</button> -->

                <button class="btn btn-danger">Reject</button>
                <a class="btn btn-primary" style="color:green" href="/request-interview/{{application.id}}">Request a
                    Interview</a>
            </th>

        </tr>
        {%endfor%}<br>

    </table>
</div>

{% endblock %}