{% extends "shared/base.html" %}

{% block content %}

<div class="container">

    <h3>All Interviews</h3>
    {% if interviews|length > 0 %}
    <table>

        <tr>
            <th>SNo.</th>
            <th>Title</th>
            <th>Date</th>
            <th>Time</th>
            <th>User</th>
            <th>Actions</th>
        </tr>
        {% for interview in interviews %}
        <tr>
            <th>
                {{interview.id}}
            </th>
            <th>
                {{interview.title}}

            </th>
            <th>
                {{interview.date}}
            </th>
            <th>
                {{interview.time}}
            </th>
            <th>
                {{interview.applicant.username}}
            </th>
            <th>
                <button class="btn btn-danger">Reject</button>
                <a class="btn btn-primary" style="color:green" href="/request-interview/{{interview.id}}">Update
                    Interview</a>
            </th>

        </tr>
        {%endfor%}<br>

    </table>
    {% endif %}

</div>

{%endblock%}