{% extends "shared/base.html" %}

{% block content %}
<div class="container">

    {% for error in errors %}
    {% with msg=error %}
    {% include "components/alerts.html" %}
    {% endwith %}
    {% endfor %}

    <h3>Interview</h3>

    <form class="needs-validation" method="post"
        style="padding:15px;border:rgb(221, 212, 212); border-width:1px;border-radius:3px; border-style:outset;">
        <h3>Request Interview</h3>
        <div class="form-row">


            <div class="col-md-3 mb-3">
                <label for="validationTooltip05">Date</label>
                <input type="date" class="form-control" id="date" name="date">
                <div class="invalid-tooltip">
                    Please provide a valid zip.
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationTooltip05">Time</label>
                <input type="time" class="form-control" id="time" name="time">
                <div class="invalid-tooltip">
                    Please provide a valid zip.
                </div>
            </div>



            <div class="col-md-3 mb-3">
                <label for="validationTooltip05">Select Status</label>
                <select name="statuses" id="status">
                    <option class="dropdown-item" type="button">Interview Scheduled</button>
                    <option class="dropdown-item" type="button">Interview Paused</button>
                    <option class="dropdown-item" type="button">Interview Canceled</button>
                    <option class="dropdown-item" type="button">Interview Completed</button>
                </select>
                <div class="invalid-tooltip">
                    Please provide a valid zip.
                </div>
            </div>





            <br>

        </div>
        <button class="btn btn-danger" type="submit">Submit form</button>
    </form>


</div>
{% endblock%}